@using WEB_253503_Soroka.Domain.Entities

@if (Show != null)
{
    <div class="card" style="width: 20%;">
        <img class="card-img-top" src="@(Show.Image)"/>
        <div class="card-body">
            <h5 class="card-title">@Show.Name</h5>
            <span class="badge bg-secondary">$@Show.Price</span>
            <p class="card-text">@Show.Description</p>
        </div>
    </div>
}

@code {
    [Parameter]
    public Show Show { get; set; }
}